.footer{
  // background: transparent linear-gradient(180deg, #0A0909 0%, #080808 100%) 0% 0% no-repeat padding-box;
  background: #18171c;

  &__icons{
    width: auto;
    height: 25px;
    object-fit: cover;
    object-position: center;
  }

  &__payicons{
    width: auto;
    height: 30px;
    object-fit: cover;
    object-position: center;
  }
}
